.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toggle-btn {
	border: none;
	background: none;
	font-size: 24px;
	cursor: pointer;
	color: #0080ff;
	/* Azul */
}

.toggle-btn.dark-theme {
	color: #ff6600;
}

.moon-icon {
	color: #ffff;
}

.sun-icon {
	color: #b9bab0;
}